@font-face {
  font-family: 'GlacialIndifference-Bold';
  src: url('../static/fonts/GlacialIndifference-Bold.otf') format('woff');
}

@font-face {
  font-family: 'GlacialIndifference';
  src: url('../static/fonts/GlacialIndifference-Regular.otf') format('woff');
}

$purple: #a43894;
$mustard: #f4bc46;
$ourWhite: #fafaff;
$ourText: #0e131f;
$heading: 'GlacialIndifference-Bold';
$body: 'GlacialIndifference';
$bodyFontSize: 18px;

body {
  margin: 0;
  background-color: $ourWhite;
  font-size: $bodyFontSize;
}

.mdx a {
  color: $purple;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  font-size: $bodyFontSize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  font-family: $heading;
  font-weight: 700;
}

h1 {
  font-size: 34px;

  @media screen and (max-width: 1050px) {
    font-size: 26px;
  }
}

h2 {
  font-size: 34px;

  @media screen and (max-width: 1050px) {
    font-size: 22px;
  }
}

h3 {
  font-size: 22px;

  @media screen and (max-width: 1050px) {
    font-size: 16px;
  }
}

h4 {
  font-size: 18px;

  @media screen and (max-width: 1050px) {
    font-size: 14px;
  }
}

.align-middle {
  margin: auto;
}

.text-center {
  text-align: center;
}

.align-center {
  align-items: center;
}

.discussionEmbed {
  width: 100%;
}

.social-icons {
  height: 30px;
  width: 30px;
  margin: 0 20px;
  fill: $ourWhite !important;

  &:first-of-type {
    margin-left: 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    max-width: 150px;
    margin: 30px 0;
  }

  &--black {
    fill: $ourText !important;
    height: 20px;
    width: 20px;
    margin-top: 20px;
  }
}

.mobile-hidden {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.image__alternating {
  flex: 0 1 100%;
  max-width: 100%;
  height: auto !important;
  order: 1;
  max-height: 500px;
  object-fit: contain;

  @media screen and (min-width: 767px) {
    flex: 0 1 48%;
    height: unset;
  }

  &--right {
    @media screen and (min-width: 1025px) {
      order: 2;
    }
  }
}

.image--blog-post {
  height: 250px;
  width: 100%;
  background-color: white;
  object-fit: cover;
}

.image__half-screen {
  height: 100%;
}

.react-player__play-icon {
  transition: 0.33s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
}

.card-play-icon {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '▶';
    font-size: 3rem;
    position: absolute;
    z-index: 9;
    cursor: pointer;
    margin: auto;
    text-shadow: 0 0 20px black;
  }
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: 200ms ease;
}

.fade-exit {
  opacity: 0;
  transition: 200ms ease;
}

/* masonry */
.masonry-item {
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }
}

.text-section {
  img {
    width: 100%;
  }
}

// Multiselect dropdowns
.dropdown-heading-value {
  font-size: 16px;
}

.multi-select .item-renderer {
  font-size: 14px;

  input {
    margin-left: 0;
  }

  span {
    max-width: 80%;
    margin-left: 5px;
    hyphens: auto;
  }
}

strong {
  font-weight: 700;
  font-family: $heading;
}


.lp__accordion {
  /**
  * ----------------------------------------------
  * Demo styles
  * ----------------------------------------------
  **/
  .accordion {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    width: 100%;
  }

  .accordion__item + .accordion__item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .lp__accordion .text-section p {
    margin: 0;
  }

  .accordion__button {
    color: $ourText;
    cursor: pointer;
    padding: 18px;
    text-align: left;
    border: none;
    border-radius: 10px;
    position: relative;
  }

  .accordion__button:not(.accordion__button--small):hover,
  .accordion__button:not(.accordion__button--small)[aria-expanded='true'] {
    background-color: $mustard;
  }

  .accordion__button.accordion__button:not(.accordion__button--small)[aria-expanded='true']{
    border-radius: 10px 10px 0 0;
  }

  .accordion__button:after {
    display: inline-block;
    content: '';
    height: 20px;
    width: 20px;
    margin-right: 12px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(-45deg);
    position: absolute;
    top: 44px;
    right: 30px;
  }

  .accordion__button.accordion__button--small:after {
    display: inline-block;
    content: '';
    margin-right: 12px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 10px 0 10px;
    border-color: #00c3b3 transparent transparent transparent;
    transform: rotate(-90deg);
    position: absolute;
    top: 8px;
    left: 3px;
  }
  

  .accordion__button[aria-expanded='true']::after,
  .accordion__button[aria-selected='true']::after {
    transform: rotate(45deg);
  }

  .accordion__button.accordion__button--small[aria-expanded='true']::after,
  .accordion__button.accordion__button--small[aria-selected='true']::after {
    transform: rotate(0);
  }

  [hidden] {
    display: none;
  }

  .accordion__panel {
    padding: 20px;
    animation: fadein 0.35s ease-in;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .accordion__item {
    width: 100%;
  }

  /* -------------------------------------------------- */
  /* ---------------- Animation part ------------------ */
  /* -------------------------------------------------- */

  @keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
  }

}

.contentful-svg{
  max-width: 100px;
  width: 100%;
}

// Markdown

.lp__accordion .list-indent--first-level {
  padding-left: 38px;
  line-height: calc(1em + 20px);
}
.lp__accordion .list-indent--second-level {
  padding-left: 76px;
  line-height: calc(1em + 25px);
}

.lp__accordion .accordion__button--small {
  padding: 5px 18px;
}

.lp__accordion .text-section p {
  margin: 0;
}

.lp__accordion .lp__accordion .accordion__button {
  width: calc(100% - 36px);
}

.gatsby-image-wrapper {
  height: auto !important;
}

.screen-reader--only {
  display: none;
}